<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--The icon on the top of the page, next to the title-->
    <link rel="shortcut icon" type="image/png" href="../images/man1.jpg"/>
    <!--The title of the website, shown next to the image shortcut -->
    <title>Vingt</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .btnExport {
            background-color: #4CAF50;
            color: white;
            border: 2px solid #4CAF50;
        }

        .btnExport:hover {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }

        .btnSend {
            background-color: #008CBA;
            color: white;
            border: 2px solid #008CBA;
        }

        .btnSend:hover {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }
    </style>

</head>
<body class="homepage">
<header id="header">
    <nav class="navbar navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Vingt</a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/start">Vingt</a></li>
                    <li><a href="/adaptkaart">Kaart</a></li>
                    <li><a href="/adaptproeverijen">Proeverijen</a></li>
                    <li class="active"><a href="/aanmelders">Aanmelders</a></li>
                    <li><a href="/crops">Thumbnails</a></li>
                    <li><a href="/adaptBlog">Blog</a></li>
                    <li><a href="#"><strike>Contact</strike></a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->

<section id="about-us">
    <div class="container">
        <div class="skill-wrap clearfix">
            <div class="center wow fadeInDown">
                <h2>Bekijk de <span>aanmelders</span></h2>
                <p class="lead">Hier kunt u de aanmelders bekijken en een bericht sturen.<br>Ook kunt u de aanmelders
                    verwijderen of wijzigen.</p>
                <div class="table-responsive">

                    <% proeverijen.forEach( function (proeverij) { %>
                    <h3 id="<%= proeverij.name %>" class="<%= proeverij.id %> pointer unselectable"
                        onclick="showProeverij(<%= proeverij.id %>)"><%= proeverij.name %>
                        <small>(
                            <% if(proeverij.shown === "false") { %>
                            <strong><%= 'on' %></strong>
                            <% } %>
                            zichtbaar)
                        </small>
                        &#x25BC;
                    </h3>
                    <div id="div<%= proeverij.id %>" class="hidden">
                        <button id="<%= proeverij.name %>" type="button" class="btnExport">Download tabel in Excel
                        </button>
                        <button id="<%= proeverij.name %>" type="button" class="btnSend">Stuur iedereen een E-mail
                        </button>

                        <table id="proeverijTable<%= proeverij.id %>"
                               class="table tabcontent table-bordered table-hover">
                            <thead>
                            <tr style="font-weight: bold;">
                                <td>Naam</td>
                                <td>E-mail</td>
                                <td>Geslacht</td>
                                <td>Geboortedatum</td>
                                <td>Telefoonnummer</td>
                                <td>Spreektaal</td>
                            </tr>
                            </thead>
                            <tbody>
                            <% aanmelders.forEach(function(aanmelder) { %>
                            <% if (aanmelder.proeverijID === proeverij.id && aanmelder.bevestigd === "true") { %>
                            <tr id="aanmelder<%= aanmelder.id %>">
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="name">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.name %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="email">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.email %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="gender">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.gender %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="birthdate">
                                    <% var date = aanmelder.birthdate
                                        var year = date.substring(0, 4);
                                        var month = date.substring(5, 7);
                                        var day = date.substring(8, 10);
                                        var newDate = day + "-" + month + "-" + year; %>
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= newDate %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="telephone">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.telephone %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="language">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.language %></div>
                                </td>
                                <td onclick="deleteAanmelder(<%= aanmelder.id %>)"> x</td>
                            </tr>
                            <% }}); %>
                            </tbody>
                        </table>
                    </div>
                    <% }); %>
                </div>
                <div class="table-responsive">

                    <h3 class="pointer unselectable red" onclick="showProeverij('All')">Allemaal &#x25BC;</h3>
                    <div id="divAll" class="hidden">
                        <button id="All" type="button" class="btnExport">Download tabel in Excel</button>
                        <button id="All" type="button" class="btnSend">Stuur iedereen een E-mail</button>

                        <table id="proeverijTableAll"
                               class="table tabcontent table-bordered table-hover">
                            <thead>
                            <tr style="font-weight: bold;">
                                <td>Naam</td>
                                <td>E-mail</td>
                                <td>Geslacht</td>
                                <td>Geboortedatum</td>
                                <td>Telefoonnummer</td>
                                <td>Spreektaal</td>
                                <td>Proeverij</td>
                                <td>Bevestigd</td>
                            </tr>
                            </thead>
                            <tbody>
                            <% aanmelders.forEach(function(aanmelder) { %>
                            <tr id="aanmelder<%= aanmelder.id %>">
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="name">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.name %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="email">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.email %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="gender">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.gender %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="birthdate">
                                    <% var date = aanmelder.birthdate
                                        var year = date.substring(0, 4);
                                        var month = date.substring(5, 7);
                                        var day = date.substring(8, 10);
                                        var newDate = day + "-" + month + "-" + year; %>
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= newDate %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="telephone">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.telephone %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="language">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.language %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="proeverijName">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.proeverijName %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="bevestigd">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.bevestigd %></div>
                                </td>
                                <td onclick="deleteAanmelder(<%= aanmelder.id %>)"> x</td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-responsive">

                    <h3 class="pointer unselectable blue" onclick="showProeverij('Onbevestigd')">Onbevestigd
                        &#x25BC;</h3>
                    <div id="divOnbevestigd" class="hidden">
                        <button id="Onbevestigd" type="button" class="btnExport">Download tabel in Excel</button>
                        <button id="Onbevestigd" type="button" class="btnSend">Stuur iedereen een E-mail</button>

                        <table id="proeverijTableOnbevestigd"
                               class="table tabcontent table-bordered table-hover">
                            <thead>
                            <tr style="font-weight: bold;">
                                <td>Naam</td>
                                <td>E-mail</td>
                                <td>Geslacht</td>
                                <td>Geboortedatum</td>
                                <td>Telefoonnummer</td>
                                <td>Spreektaal</td>
                                <td>Proeverij</td>
                            </tr>
                            </thead>
                            <tbody>
                            <% aanmelders.forEach(function(aanmelder) { %>
                            <% if (aanmelder.bevestigd === "false") { %>
                            <tr id="aanmelder<%= aanmelder.id %>">
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="name">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.name %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="email">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.email %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="gender">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.gender %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="birthdate">
                                    <% var date = aanmelder.birthdate
                                        var year = date.substring(0, 4);
                                        var month = date.substring(5, 7);
                                        var day = date.substring(8, 10);
                                        var newDate = day + "-" + month + "-" + year; %>
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= newDate %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="telephone">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.telephone %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="language">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.language %></div>
                                </td>
                                <td data-toggle="tooltip" data-placement="bottom" title="Bewerk..."
                                    class="pointer" id="proeverijName">
                                    <div class="editableAanmelder" onchange=""
                                         contenteditable><%= aanmelder.proeverijName %></div>
                                </td>
                                <td onclick="deleteAanmelder(<%= aanmelder.id %>)"> x</td>
                            </tr>
                            <% }}); %>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div><!--/.container-->
</section><!--/about-us-->

<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Winkel</h3>
                    <ul>
                        <li><a href="/kaart">Kaart</a></li>
                        <li><a href="/proeverijen">Proeverijen</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="/contact">Email</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Telefoon</a></li>
                        <li><a href="/contact">Facebook</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Ontwikkelaars</h3>
                    <ul>
                        <li><a href="/contact">Winkel</a></li>
                        <li><a href="https://github.com/ffwarners/vingt">Website</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Import</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <!--TODO: Voeg partners toe-->
                    <h3>Onze partners</h3>
                    <ul>
                        <!--TODO: Voeg links toe-->
                        <li><a href="#">Wijnfabriek 1</a></li>
                        <li><a href="#">TU Delft</a></li>
                        <li><a href="#">Oneplus</a></li>
                        <li><a href="#">Apple</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social">
                    <ul class="social-share">
                        <!--TODO: Voeg links toe-->
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div><!--/.top-bar-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!--TODO: Controleer deze tekst-->
                <p>© 2017 Copyright Vingt.nl </p>

            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Vingt</a></li>
                    <li><a href="#">Kaart</a></li>
                    <li><a href="#">Proeverijen</a></li>
                    <li><a href="#">Impressie</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Script for the $JSON -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>