<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vingt</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

</head>
<body class="homepage">
<header id="header">
    <nav class="navbar navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Vingt</a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/">Vingt</a></li>
                    <li><a href="kaart">Kaart</a></li>
                    <li><a href="proeverijen">Proeverijen</a></li>
                    <li><a href="impressie">Impressie</a></li>
                    <li class="active"><a href="blog">Blog</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->

<section id="blog" class="container" style="margin-top: 140px">
    <div class="center">
        <h2>Blogs</h2>
        <p class="lead">U kunt hier kijken wat mensen die u voor zijn geweest van de proeverij hebben gevonden</p>
    </div>

    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 text-center">
                            <div class="entry-meta">
                                <% var page = pagina * 2 %>
                                <% var date = blog[page - 1].reactionDate.substring(8, 10); %>
                                <% var month = blog[page - 1].reactionDate.substring(4, 7); %>
                                <% var name = blog[page - 1].personName %>
                                <% name.length >= 10 ? name = name.substring(0, 10) + "..." : name; %>
                                <% var message = blog[page - 1].reaction.substring(0, 9) + "..." %>
                                <span id="publish_date"><%= date + " " + month %></span>
                                <span><i class="fa fa-user"></i> <a href="#"><%= name %></a></span>
                                <span><i class="fa fa-comment"></i> <a><%= message %></a></span>
                                <span><i class="fa fa-star"></i><a href="#"><%= blog[page - 1].rate %></a></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-10 blog-content">
                            <!--<a href="#"><img class="img-responsive img-blog" src="images/blog/blog1.jpg" width="100%"-->
                            <!--alt=""/></a>-->
                            <h2><a>Proeverij: <%= blog[page - 1].proeverijName %></a></h2>
                            <h3><%= blog[page - 1].proeverijBeschrijving.substring(0, 200) + "..." %></h3>
                            <a class="btn btn-primary readmore" href="/blog-?<%= blog[page - 1].link %>">Meer lezen <i
                                        class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.blog-item-->

                <% if(blog.length - 1 >= page) { %>
                <div class="blog-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <div class="entry-meta">
                                <% var current2 = page %>
                                <% var date2 = blog[current2].reactionDate.substring(8, 10); %>
                                <% var month2 = blog[current2].reactionDate.substring(4, 7); %>
                                <% var name2 = blog[current2].personName %>
                                <% name2.length >= 10 ? name2 = name2.substring(0, 10) + "..." : name2; %>
                                <% var message2 = blog[current2].reaction.substring(0, 9) + "..." %>
                                <span id="publish_date"><%= date2 + " " + month2 %></span>
                                <span><i class="fa fa-user"></i> <a href="#"><%= name2 %></a></span>
                                <span><i class="fa fa-comment"></i> <a><%= message2 %></a></span>
                                <span><i class="fa fa-star"></i><a href="#"><%= blog[current2].rate %></a></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 blog-content">
                            <!--<a href="#"><img class="img-responsive img-blog" src="images/blog/blog2.jpg" width="100%"-->
                            <!--alt=""/></a>-->
                            <h2><a>Proeverij: <%= blog[current2].proeverijName %></a></h2>
                            <h3><%= blog[current2].proeverijBeschrijving.substring(0, 200) + "..." %></h3>
                            <a class="btn btn-primary readmore" href="/blog-?<%= blog[current2].link %>">Meer lezen <i
                                        class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div><!--/.blog-item-->
                <% } %>
                <ul class="pagination pagination-lg">
                    <% if(page / 2 > 1) { %>
                    <li><a href="/blog?page=<%= page / 2 - 1 %>"><i class="fa fa-long-arrow-left"></i>Vorige pagina</a>
                    </li>
                    <% } %>
                    <% for(var i = 0; i < Math.ceil((blog.length - 1) / 2); i++) { %>
                    <li
                            <% if(pagina - 1 == i) { %>
                            class="active"
                            <% } %>
                    ><a href="/blog?page=<%= i + 1 %>"><%= i + 1 %></a></li>
                    <% } %>
                    <% if(blog.length - 1 > page) { %>
                    <li><a href="/blog?page=<%= page / 2 + 1 %>">Volgende pagina<i
                                    class="fa fa-long-arrow-right"></i></a>
                    </li>
                    <% } %>
                </ul><!--/.pagination-->
            </div><!--/.col-md-8-->

            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                    </form>
                </div><!--/.search-->

                <div class="widget categories">


                    <h3>Recente blogs</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <%var max = 3;
                            if (blog.length<=4) max = blog.length-1;%>
                            <% function contains(a, obj) {
                                for (var i = 0; i < a.length; i++) {
                                    if (a[i] === obj) {
                                        return true;
                                    }
                                }
                                return false;
                            } %>
                            <% var array = [max+1] %>
                            <% for (var j = 0; j < max; j++) { %>
                            <% var random = Math.floor((Math.random() * blog.length - 1) + 1); %>
                            <% if (random == 0) random++; %>
                            <% while (contains(array, random)) {
                                random = Math.floor((Math.random() * blog.length - 1) + 1);
                                if (random == 0) random++;
                            } array.push(random); %>

                            <div class="single_comments pointer" onclick="location.href='/blog-?<%= blog[random].link %>'">
                                <img src="images/blog/avatar3.png" alt=""/>
                                <% var name3 = blog[random].personName %>
                                <% name3.length >= 10 ? name3 = name3.substring(0, 10) + "..." : name3; %>
                                <p><%= blog[random].reaction.substring(0, 75) + "..." %></p>
                                <div class="entry-meta small muted">
                                    <span>Door <a href="#"><%= name3 %></a></span><span>Bij <a
                                                href="#"><%=blog[random].proeverijName.substring(0,15) + "..."%></a></span>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div><!--/.recent comments-->
            </aside>
        </div><!--/.row-->
    </div>
</section><!--/#blog-->

<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">We are hiring</a></li>
                        <li><a href="#">Meet the team</a></li>
                        <li><a href="#">Copyright</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Documentation</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Developers</h3>
                    <ul>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">SEO Marketing</a></li>
                        <li><a href="#">Theme</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Our Partners</h3>
                    <ul>
                        <li><a href="#">Adipisicing Elit</a></li>
                        <li><a href="#">Eiusmod</a></li>
                        <li><a href="#">Tempor</a></li>
                        <li><a href="#">Veniam</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social">
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div><!--/.top-bar-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; Gp Theme. All Rights Reserved.
                <div class="credits">
                    <!--
                        All the links in the footer should remain intact.
                        You can delete the links only if you purchased the pro version.
                        Licensing information: https://bootstrapmade.com/license/
                        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Gp
                    -->
                    <a href="https://bootstrapmade.com/">Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>