<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vingt</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- =======================================================
        Theme Name: Gp
        Theme URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-templat/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>
<body class="homepage">
<header id="header">
    <nav class="navbar navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Vingt</a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/">Vingt</a></li>
                    <li><a href="kaart">Kaart</a></li>
                    <li class="active"><a href="proeverijen">Proeverijen</a></li>
                    <li><a href="impressie">Impressie</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->

<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2><%= proeverij.name %></h2>
            <% var proefDetails = proeverij.details %>
            <% if(proefDetails.includes("<br>")) { %>
            <p class="lead">
                <% var n = proefDetails.lastIndexOf("<br>"); %>
                <%= proefDetails.substring(0, n) %></p>
            <p class="lead">
                <%= proefDetails.substring(n + 4); %></p>
            <% } else { %>
            <p class="lead">
                <%= proeverij.details %></p>
            <% } %>

            <% var date = proeverij.date
            var year = date.substring(0, 4);
            var month = date.substring(5, 7);
            var day = date.substring(8, 10);
            var newDate = day + "-" + month + "-" + year; %>
            <p class="lead">Datum: <%= newDate %><br></p>
        </div>

        <div class="row wow fadeInDown">

            <form method="post" action="/registrate">
                <div class="container fadeInDown">
                    <input name="id" value="<%=proeverij.id%>" class="hidden">
                    <label for="proeverij"><b class="white">Uw gewenste proeverij:</b></label><br>
                    <input class="curved" style="max-width: 50%; min-width: 200px; cursor:not-allowed;" type="text" name="proeverij" value="<%=proeverij.name%>" readonly required title="proeverij">
                    <br>
                    <label><b class="white">Uw geslacht</b></label><br>
                    <select  class="curved" id="gender" name="gender" title="gender">
                        <option value="man">Man</option>
                        <option value="vrouw">Vrouw</option>
                    </select>
                    <br>
                    <br>
                    <label for="name"><b class="white">Uw voor- en achternaam *</b></label>
                    <input class="curved" type="text" placeholder="Donnie van den Beuken" name="name" required>
                    <br>
                    <label for="email"><b class="white">Uw e-mail *</b></label>
                    <input class="curved" type="email" placeholder="DonnievandenBeuken@armyspy.com" name="email" required>
                    <br>
                    <label for="telephone"><b class="white">Uw telefoonnummer *</b></label>
                    <input class="curved" type="tel" placeholder="06-63600715" name="telephone" required>
                    <br>
                    <label for="birthdate"><b class="white">Uw geboortedatum *</b></label>
                    <input class="curved" type="date" placeholder="06-63600715" name="birthdate" required>

                    <label><b class="white">Welke taal spreekt u? (What language do you speak?) </b></label><br>
                    <select class="curved" id="language" name="language">
                        <option value="dutch">Nederlands</option>
                        <option value="english">English</option>
                        <option value="french">Français</option>
                        <option value="german">Deutsch</option>
                    </select>
                    <br>

                    <p class="white">
                        <small>De onderdelen met een * zijn verplicht, kijk in onze <a href="#">voorwaarden</a>.</small>
                    </p>


                    <div class="clearfix">
                        <button type="submit" class="signupbtn buttonMeld">Meld mij aan!</button>
                    </div>
                </div>
            </form>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->

<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Winkel</h3>
                    <ul>
                        <li><a href="/kaart">Kaart</a></li>
                        <li><a href="/proeverijen">Proeverijen</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="/contact">Email</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Telefoon</a></li>
                        <li><a href="/contact">Facebook</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Ontwikkelaars</h3>
                    <ul>
                        <li><a href="/contact">Winkel</a></li>
                        <li><a href="https://github.com/ffwarners/vingt">Website</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Import</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <!--TODO: Voeg partners toe-->
                    <h3>Onze partners</h3>
                    <ul>
                        <!--TODO: Voeg links toe-->
                        <li><a href="#">Wijnfabriek 1</a></li>
                        <li><a href="#">TU Delft</a></li>
                        <li><a href="#">Oneplus</a></li>
                        <li><a href="#">Apple</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social">
                    <ul class="social-share">
                        <!--TODO: Voeg links toe-->
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div><!--/.top-bar-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!--TODO: Controleer deze tekst-->
                <p>© 2017 Copyright Vingt.nl </p>

            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Vingt</a></li>
                    <li><a href="#">Kaart</a></li>
                    <li><a href="#">Proeverijen</a></li>
                    <li><a href="#">Impressie</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>