<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--The icon on the top of the page, next to the title-->
    <link rel="shortcut icon" type="image/png" href="../images/man1.jpg"/>

    <title>Vingt</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/prettyPhoto.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
    <!-- =======================================================
        Theme Name: Gp
        Theme URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-templat/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>
<body class="homepage">
<header id="header">
    <nav class="navbar navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Vingt</a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/">Vingt</a></li>
                    <li class="active"><a href="kaart">Kaart</a></li>
                    <li><a href="proeverijen">Proeverijen</a></li>
                    <li><a href="impressie">Impressie</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->


<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown" style="margin-top: 70px;">
            <h2><%= wine.naam %></h2>
            <p class="lead">Hieronder vindt u alle informatie over <strong><i><%= wine.naam%></i></strong>.</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="row">
                    <div class="modal-body row center wow fadeInDownBig">
                        <div class="col-md-6">
                            <img src="/images/wines/wine<%= wine.wine_id %>.jpg"/>
                        </div>
                        <div class="col-md-6 table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <td></td>
                                <td><strong><%= wine.naam %></strong></td>
                                </thead>
                                <tbody>
                                <% columns.forEach(function(column) { %>
                                <% if (column.Field != "wine_id" && column.Field != "imageExt") { %>
                                <tr>
                                    <td><%= column.Field %></td>
                                    <td><%= wine[column.Field] %></td>
                                </tr>
                                <% }}); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--/.services-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#feature-->

<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Winkel</h3>
                    <ul>
                        <li><a href="/kaart">Kaart</a></li>
                        <li><a href="/proeverijen">Proeverijen</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="/contact">Email</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Telefoon</a></li>
                        <li><a href="/contact">Facebook</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Ontwikkelaars</h3>
                    <ul>
                        <li><a href="/contact">Winkel</a></li>
                        <li><a href="https://github.com/ffwarners/vingt">Website</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Import</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <!--TODO: Voeg partners toe-->
                    <h3>Onze partners</h3>
                    <ul>
                        <!--TODO: Voeg links toe-->
                        <li><a href="#">Wijnfabriek 1</a></li>
                        <li><a href="#">TU Delft</a></li>
                        <li><a href="#">Oneplus</a></li>
                        <li><a href="#">Apple</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social">
                    <ul class="social-share">
                        <!--TODO: Voeg links toe-->
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div><!--/.top-bar-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!--TODO: Controleer deze tekst-->
                <p>© 2017 Copyright Vingt.nl </p>

            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Vingt</a></li>
                    <li><a href="#">Kaart</a></li>
                    <li><a href="#">Proeverijen</a></li>
                    <li><a href="#">Impressie</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.prettyPhoto.js"></script>
<script src="../js/jquery.isotope.min.js"></script>
<script src="../js/wow.min.js"></script>
<script src="../js/main.js"></script>

</body>
</html>