<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--The icon on the top of the page, next to the title-->
    <link rel="shortcut icon" type="image/png" href="../images/man1.jpg"/>
    <!--The title of the website, shown next to the image shortcut -->
    <title>Vingt</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

</head>
<body class="homepage">
<header id="header">
    <nav class="navbar navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Vingt</a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/">Vingt</a></li>
                    <li class="active"><a href="kaart">Kaart</a></li>
                    <li><a href="proeverijen">Proeverijen</a></li>
                    <li><a href="impressie">Impressie</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->


<section id="about-us">
    <div class="container">
        <div class="skill-wrap clearfix">
            <section id="recent-works">
                <div class="container">
                    <div class="center wow fadeInDown">
                        <!--TODO: Controleer deze tekst-->
                        <h2>Onze wijnen</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>

                    <ul class="portfolio-filter text-center">
                        <!--TODO: Controleer deze tekst-->
                        <li><a class="btn btn-default active" href="#" data-filter="*">Alle wijnen</a></li>
                        <li><a class="btn btn-default" href="#" data-filter=".under15">Prijs onder €15,-</a></li>
                        <li><a class="btn btn-default" href="#" data-filter=".droog">Droog</a></li>
                        <li><a class="btn btn-default" href="#" data-filter=".small">Kleiner dan 1L</a></li>
                    </ul><!--/#portfolio-filter-->

                    <div class="row">
                        <div class="portfolio-items">
                            <% wines.forEach(function(wine) { %>
                            <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3
                                 <% if (wine['Aankoop prijs'] <= 15) { %> under15 <% } %>
                                 <% if (wine['Inhoud'] <= 1.0) { %> small <% } %>
                                 <% if (wine['Droog'] === 'true') { %> droog <% } %>">
                                <div class="recent-work-wrap">
                                    <img class="img-responsive" src="images/wines/Small/wine<%= wine.wine_id %>.jpg"
                                         alt="">
                                    <div class="overlay">
                                        <div class="recent-work-inner">
                                            <h3><a href="/wijn?<%= wine.link %>"><%= wine.Naam %></a></h3>
                                            <p>Geproduceerd door: <%= wine.Producent %></p>
                                            <a class="preview"
                                               href="images/wines/wine<%= wine.wine_id %>.<%= wine.imageExt %>"
                                               rel="prettyPhoto"><i
                                                        class="fa fa-eye"></i> View</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.portfolio-item-->
                            <% }); %>

                        </div>
                    </div>
                </div><!--/.container-->
            </section><!--/#recent-works-->


            <div class="row">
                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="joomla-skill">
                            <!--TODO: Controleer deze tekst-->
                            <p><em>85%</em></p>
                            <p>Droog</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="html-skill">
                            <!--TODO: Controleer deze tekst-->
                            <p><em>95%</em></p>
                            <p>Klant tevredenheid</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                        <div class="css-skill">
                            <!--TODO: Controleer deze tekst-->
                            <p><em>80%</em></p>
                            <p>Boven de €15,-</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                        <div class="wp-skill">
                            <!--TODO: Controleer deze tekst-->
                            <p><em>90%</em></p>
                            <p>Witte wijn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- our-team -->
        <div class="team">
            <div class="center wow fadeInDown">
                <!--TODO: Controleer deze tekst-->
                <h2>Werknemers bij <span>Vingt</span></h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row clearfix">
                <div class="col-md-4 col-sm-6">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="http://fakeimg.pl/145x137/" alt=""></a>
                            </div>
                            <div class="media-body">
                                <!--TODO: Controleer deze tekst-->
                                <h4>Felix Warners</h4>
                                <h5>Student en wijnhandelaar</h5>
                                <ul class="tag clearfix">
                                    <li class="btn"><a href="#">TU Delft</a></li>
                                    <li class="btn"><a href="#">Vingt</a></li>
                                    <li class="btn"><a href="#">UVA</a></li>
                                </ul>

                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div><!--/.media -->
                        <!--TODO: Pas deze tekst aan-->
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look
                            even slightly believable.</p>
                    </div>
                </div><!--/.col-lg-4 -->


                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="http://fakeimg.pl/145x137/" alt=""></a>
                            </div>
                            <div class="media-body">
                                <!--TODO: Pas deze persoon aan-->
                                <h4>John Doe</h4>
                                <h5>Founder and CEO</h5>
                                <ul class="tag clearfix">
                                    <li class="btn"><a href="#">Web</a></li>
                                    <li class="btn"><a href="#">Ui</a></li>
                                    <li class="btn"><a href="#">Ux</a></li>
                                    <li class="btn"><a href="#">Photoshop</a></li>
                                </ul>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div><!--/.media -->
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look
                            even slightly believable.</p>
                    </div>
                </div><!--/.col-lg-4 -->
            </div> <!--/.row -->
            <div class="row team-bar">
                <div class="first-one-arrow hidden-xs">
                    <hr>
                </div>
                <div class="first-arrow hidden-xs">
                    <hr>
                    <i class="fa fa-angle-up"></i>
                </div>
                <div class="second-arrow hidden-xs">
                    <hr>
                    <i class="fa fa-angle-down"></i>
                </div>
                <div class="third-arrow hidden-xs">
                    <hr>
                    <i class="fa fa-angle-up"></i>
                </div>
                <div class="fourth-arrow hidden-xs">
                    <hr>
                    <i class="fa fa-angle-down"></i>
                </div>
            </div> <!--skill_border-->

            <div class="row clearfix">
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms"
                         data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="http://fakeimg.pl/145x137/" alt=""></a>
                            </div>

                            <div class="media-body">
                                <!--TODO: Pas deze persoon aan-->
                                <h4>Jhon Doe</h4>
                                <h5>Founder and CEO</h5>
                                <ul class="tag clearfix">
                                    <li class="btn"><a href="#">Web</a></li>
                                    <li class="btn"><a href="#">Ui</a></li>
                                    <li class="btn"><a href="#">Ux</a></li>
                                    <li class="btn"><a href="#">Photoshop</a></li>
                                </ul>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div><!--/.media -->
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look
                            even slightly believable.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms"
                         data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="http://fakeimg.pl/145x137/" alt=""></a>
                            </div>
                            <div class="media-body">
                                <!--TODO: Pas deze persoon aan-->
                                <h3>Steven Lambregts</h3>
                                <h5>Web developer</h5>
                                <ul class="tag clearfix">
                                    <li class="btn"><a href="https://github.com/StevenL98">Web</a></li>
                                    <li class="btn"><a href="https://www.tudelft.nl/">TU Delft</a></li>
                                    <li class="btn"><a
                                                href="https://www.tudelft.nl/en/education/programmes/bachelors/ti/bachelor-of-computer-science-and-engineering/">Student</a>
                                    </li>
                                    <!--<li class="btn"><a href="#"></a></li>-->
                                </ul>
                                <ul class="social_icons">
                                    <li><a href="https://www.facebook.com/slambregts"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://plus.google.com/u/0/103821211248011624464"><i
                                                    class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div><!--/.media -->
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look
                            even slightly believable.</p>
                    </div>
                </div>
            </div>    <!--/.row-->
        </div><!--section-->
    </div><!--/.container-->
</section><!--/about-us-->

<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Winkel</h3>
                    <ul>
                        <li><a href="/kaart">Kaart</a></li>
                        <li><a href="/proeverijen">Proeverijen</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="/contact">Email</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Telefoon</a></li>
                        <li><a href="/contact">Facebook</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <h3>Ontwikkelaars</h3>
                    <ul>
                        <li><a href="/contact">Winkel</a></li>
                        <li><a href="https://github.com/ffwarners/vingt">Website</a></li>
                        <li><a href="/contact">Locatie</a></li>
                        <li><a href="/contact">Import</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <!--TODO: Controleer deze tekst-->
                    <!--TODO: Voeg partners toe-->
                    <h3>Onze partners</h3>
                    <ul>
                        <!--TODO: Voeg links toe-->
                        <li><a href="#">Wijnfabriek 1</a></li>
                        <li><a href="#">TU Delft</a></li>
                        <li><a href="#">Oneplus</a></li>
                        <li><a href="#">Apple</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social">
                    <ul class="social-share">
                        <!--TODO: Voeg links toe-->
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div><!--/.top-bar-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!--TODO: Controleer deze tekst-->
                <p>© 2017 Copyright Vingt.nl </p>

            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Vingt</a></li>
                    <li><a href="#">Kaart</a></li>
                    <li><a href="#">Proeverijen</a></li>
                    <li><a href="#">Impressie</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>